{
  "apps" : [{
    "name"         : "upload-ucn",
    "script"       : "server.js",
    "instances"    : "4",
    "exec_mode"    : "cluster_mode",
    "error_file"   : "/home/nodeapp/logs/upload-ucn.log",
    "out_file"     : "/home/nodeapp/logs/upload-ucn.log",
    "pid_file"     : "/home/nodeapp/pids/upload-ucn",
    "run_as_user"  : "nodeapp",
    "run_as_group" : "nodeapp",
    "cwd"          : "/home/nodeapp/apps/upload",
    "env": {
        "NODE_ENV" : "production",
	"MONGOHOST": "ucn.inria.fr",
	"MONGODB"  : "ucnexp",
        "DEBUG"    : "uploader"
    }
  }]
}
